[package]
name = "dropshot_endpoint"
description = "macro used by dropshot consumers for registering handlers"
version = "0.1.0"
authors = ["Adam H. Leventhal <ahl@oxide.computer>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/oxidecomputer/dropshot/"

[lib]
proc-macro = true

[dependencies.proc-macro2]
version = "1"

[dependencies.quote]
version = "1"

[dependencies.serde]
version = "1.0"
features = [ "derive" ]

[dependencies.serde_derive_internals]
version = "0.25"

[dependencies.serde_tokenstream]
version = version = "0.1.0"

[dependencies.syn]
version = "1.0.17"
features = [ "parsing", "printing" ]

[dependencies.schemars]
version = "0.7"
