[package]
name = "dropshot"
description = "expose REST APIs from a Rust program"
version = "0.6.1-dev"
authors = ["David Pacheco <dap@oxidecomputer.com>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/oxidecomputer/dropshot/"
readme = "README-crates.io.md"
keywords = ["rest", "openapi", "async"]
categories = ["network-programming", "web-programming::http-server"]

[dependencies]
async-stream = "0.3.3"
async-trait = "0.1.53"
base64 = "0.13.0"
bytes = "1"
futures = "0.3.21"
hostname = "0.3.0"
http = "0.2.6"
indexmap = "1.8.1"
openapiv3 = "=1.0.1"
paste = "1.0.7"
percent-encoding = "2.1.0"
proc-macro2 = "1.0.37"
rustls = "0.20.4"
rustls-pemfile = "1.0.0"
serde_json = "1.0.79"
serde_urlencoded = "0.7.1"
slog-async = "2.4.0"
slog-bunyan = "2.4.0"
slog-json = "2.6.1"
slog-term = "2.9.0"
tokio-rustls = "0.23.3"
toml = "0.5.9"

[dependencies.chrono]
version = "0.4.0"
features = [ "serde" ]

[dependencies.dropshot_endpoint]
version = "^0.6.1-dev"
path = "../dropshot_endpoint"

[dependencies.hyper]
version = "0.14"
features = [ "full" ]

[dependencies.serde]
version = "1.0.136"
features = [ "derive" ]

[dependencies.slog]
version = "2.5.0"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "1.16"
features = [ "full" ]

[dependencies.usdt]
version = "0.3.2"
default-features = false

[dependencies.uuid]
version = "0.8.0"
features = [ "serde", "v4" ]

[dependencies.schemars]
version = "0.8.8"
features = [ "uuid" ]

[dev-dependencies]
expectorate = "1.0.5"
hyper-rustls = "0.23.0"
hyper-staticfile = "0.8"
lazy_static = "1.4.0"
libc = "0.2.125"
mime_guess = "2.0.4"
subprocess = "0.2.8"
tempfile = "3.3"
trybuild = "1.0.53"
# Used by the https examples and tests
pem = "1.0"
rcgen = "0.9.2"

[dev-dependencies.rustls]
version = "0.20.4"
# This is needed to use with_custom_certificate_verifier in tests
# https://docs.rs/rustls/0.20.4/src/rustls/client/builder.rs.html#34-49
features = [ "dangerous_configuration" ]

[dev-dependencies.schemars]
version = "0.8.8"
features = [ "chrono", "uuid" ]

# This is required for the build.rs script to check for an appropriate compiler
# version so that `usdt` can be built on stable rust.
[build-dependencies]
version_check = "0.9.4"

[features]
usdt-probes = ["usdt/asm"]
