[package]
name = "dropshot"
description = "expose REST APIs from a Rust program"
version = "0.6.1-dev"
authors = ["David Pacheco <dap@oxidecomputer.com>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/oxidecomputer/dropshot/"
readme = "README-crates.io.md"
keywords = ["rest", "openapi", "async"]
categories = ["network-programming", "web-programming::http-server"]

[dependencies]
async-trait = "0.1.52"
base64 = "0.13.0"
bytes = "1"
futures = "0.3.19"
hostname = "0.3.0"
http = "0.2.6"
indexmap = "1.7.0"
openapiv3 = "=1.0.0"
paste = "1.0.6"
percent-encoding = "2.1.0"
proc-macro2 = "1.0.36"
serde_json = "1.0.74"
serde_urlencoded = "0.7.0"
slog-async = "2.4.0"
slog-bunyan = "2.2.0"
slog-json = "2.4.0"
slog-term = "2.5.0"
syn = "1.0.84"
toml = "0.5.6"

[dependencies.chrono]
version = "0.4.0"
features = [ "serde" ]

[dependencies.dropshot_endpoint]
version = "^0.6.1-dev"
path = "../dropshot_endpoint"

[dependencies.hyper]
version = "0.14"
features = [ "full" ]

[dependencies.serde]
version = "1.0.133"
features = [ "derive" ]

[dependencies.slog]
version = "2.5.0"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "1.15"
features = [ "full" ]

[dependencies.usdt]
version = "0.3.1"
default-features = false

[dependencies.uuid]
version = "0.8.0"
features = [ "serde", "v4" ]

[dependencies.schemars]
version = "0.8.8"
features = [ "uuid" ]

[dev-dependencies]
expectorate = "1.0.4"
hyper-staticfile = "0.8"
lazy_static = "1.4.0"
libc = "0.2.112"
mime_guess = "2.0.3"
subprocess = "0.2.8"
tempfile = "3.2"
trybuild = "1.0.53"

[dev-dependencies.schemars]
version = "0.8.8"
features = [ "chrono", "uuid" ]

[features]
usdt-probes = ["usdt/asm"]
