[package]
name = "dropshot"
description = "expose REST APIs from a Rust program"
version = "0.10.1-dev"
authors = ["David Pacheco <dap@oxidecomputer.com>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/oxidecomputer/dropshot/"
readme = "README-crates.io.md"
keywords = ["rest", "openapi", "async"]
categories = ["network-programming", "web-programming::http-server"]

[dependencies]
async-stream = "0.3.5"
async-trait = "0.1.78"
base64 = "0.21.7"
bytes = "1"
camino = { version = "1.1.6", features = ["serde1"] }
debug-ignore = "1.0.5"
form_urlencoded = "1.2.1"
futures = "0.3.30"
hostname = "0.3.0"
http = "0.2.9"
indexmap = "2.2.5"
multer = "3.0.0"
paste = "1.0.14"
percent-encoding = "2.3.1"
proc-macro2 = "1.0.79"
rustls = "0.22.2"
rustls-pemfile = "2.1.1"
serde_json = "1.0.114"
serde_path_to_error = "0.1.15"
serde_urlencoded = "0.7.1"
sha1 = "0.10.6"
slog = "2.5.0"
slog-async = "2.8.0"
slog-bunyan = "2.5.0"
slog-json = "2.6.1"
slog-term = "2.9.1"
tokio-rustls = "0.25.0"
toml = "0.8.11"
waitgroup = "0.1.2"

[dependencies.chrono]
version = "0.4.34"
features = [ "serde", "std", "clock" ]
default-features = false

[dependencies.dropshot_endpoint]
version = "^0.10.1-dev"
path = "../dropshot_endpoint"

[dependencies.hyper]
version = "0.14"
features = [ "full" ]

[dependencies.openapiv3]
version = "2.0.0"
features = [ "skip_serializing_defaults" ]

[dependencies.serde]
version = "1.0.197"
features = [ "derive" ]

[dependencies.tokio]
version = "1.36"
features = [ "full" ]

[dependencies.usdt]
version = "0.5.0"
optional = true
default-features = false

[dependencies.uuid]
version = "1.7.0"
features = [ "serde", "v4" ]

[dependencies.schemars]
version = "0.8.16"
features = [ "uuid1" ]

[dev-dependencies]
async-channel = "2.2.0"
buf-list = "1.0.3"
expectorate = "1.1.0"
hyper-rustls = "0.25.0"
hyper-staticfile = "0.9"
lazy_static = "1.4.0"
libc = "0.2.153"
mime_guess = "2.0.4"
subprocess = "0.2.9"
tempfile = "3.10"
trybuild = "1.0.90"
# Used by the https examples and tests
pem = "3.0"
rcgen = "0.12.1"
# Used in a doc-test demonstrating the WebsocketUpgrade extractor.
tokio-tungstenite = "0.21.0"

[dev-dependencies.rustls-pki-types]
version = "1.3.1"
# Needed for CertificateDer::into_owned
features = ["alloc"]

[dev-dependencies.schemars]
version = "0.8.16"
features = [ "chrono", "uuid1" ]

[dev-dependencies.slog]
version = "2.5.0"
features = [ "max_level_trace", "release_max_level_debug" ]

# This is required for the build.rs script to check for an appropriate compiler
# version so that `usdt` can be built on stable rust.
[build-dependencies]
version_check = "0.9.4"

[features]
usdt-probes = ["usdt/asm"]
