[package]
name = "dropshot"
description = "expose REST APIs from a Rust program"
version = "0.9.1-dev"
authors = ["David Pacheco <dap@oxidecomputer.com>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/oxidecomputer/dropshot/"
readme = "README-crates.io.md"
keywords = ["rest", "openapi", "async"]
categories = ["network-programming", "web-programming::http-server"]

[dependencies]
async-stream = "0.3.4"
async-trait = "0.1.66"
base64 = "0.21.0"
bytes = "1"
camino = { version = "1.1.4", features = ["serde1"] }
form_urlencoded = "1.1.0"
futures = "0.3.28"
hostname = "0.3.0"
http = "0.2.9"
indexmap = "1.9.3"
paste = "1.0.12"
percent-encoding = "2.2.0"
proc-macro2 = "1.0.54"
rustls = "0.21.0"
rustls-pemfile = "1.0.2"
serde_json = "1.0.95"
serde_path_to_error = "0.1.11"
serde_urlencoded = "0.7.1"
sha1 = "0.10.5"
slog = "2.5.0"
slog-async = "2.4.0"
slog-bunyan = "2.4.0"
slog-json = "2.6.1"
slog-term = "2.9.0"
tokio-rustls = "0.24.0"
toml = "0.7.3"

[dependencies.chrono]
version = "0.4.24"
features = [ "serde" ]

[dependencies.dropshot_endpoint]
version = "^0.9.1-dev"
path = "../dropshot_endpoint"

[dependencies.hyper]
version = "0.14"
features = [ "full" ]

[dependencies.openapiv3]
version = "1.0.2"
features = [ "skip_serializing_defaults" ]

[dependencies.serde]
version = "1.0.152"
features = [ "derive" ]

[dependencies.tokio]
version = "1.26"
features = [ "full" ]

[dependencies.usdt]
version = "0.3.5"
optional = true
default-features = false

[dependencies.uuid]
version = "1.3.0"
features = [ "serde", "v4" ]

[dependencies.schemars]
version = "0.8.12"
features = [ "uuid1" ]

[dev-dependencies]
buf-list = "1.0.0"
expectorate = "1.0.6"
hyper-rustls = "0.24.0"
hyper-staticfile = "0.9"
lazy_static = "1.4.0"
libc = "0.2.140"
mime_guess = "2.0.4"
subprocess = "0.2.9"
tempfile = "3.5"
trybuild = "1.0.79"
# Used by the https examples and tests
pem = "2.0"
rcgen = "0.10.0"
# Used in a doc-test demonstrating the WebsocketUpgrade extractor.
tokio-tungstenite = "0.18.0"

[dev-dependencies.rustls]
version = "0.21"
# This is needed to use with_custom_certificate_verifier in tests
# https://docs.rs/rustls/0.21/src/rustls/client/builder.rs.html
features = [ "dangerous_configuration" ]

[dev-dependencies.schemars]
version = "0.8.12"
features = [ "chrono", "uuid1" ]

[dev-dependencies.slog]
version = "2.5.0"
features = [ "max_level_trace", "release_max_level_debug" ]

# This is required for the build.rs script to check for an appropriate compiler
# version so that `usdt` can be built on stable rust.
[build-dependencies]
version_check = "0.9.4"

[features]
usdt-probes = ["usdt/asm"]
