[package]
name = "dropshot"
description = "expose REST APIs from a Rust program"
version = "0.2.0"
authors = ["David Pacheco <dap@oxidecomputer.com>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/oxidecomputer/dropshot/"

[dependencies]
async-trait = "0.1.24"
bytes = "0.5.4"
futures = "0.3.1"
hostname = "0.3.0"
http = "0.2.0"
hyper = "0.13.0"
indexmap = "1.0.0"
openapiv3 = "0.3.0"
serde_json = "1.0.0"
serde_urlencoded = "0.6.0"
slog-async = "2.4.0"
slog-bunyan = "2.2.0"
slog-json = "2.3.0"
slog-term = "2.5.0"
toml = "0.5.6"

[dependencies.chrono]
version = "0.4.0"
features = [ "serde" ]

[dependencies.dropshot_endpoint]
version = "0.2.0"
path = "../dropshot_endpoint"

[dependencies.serde]
version = "1.0.0"
features = [ "derive" ]

[dependencies.slog]
version = "2.5.0"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "0.2.0"
features = [ "full" ]

[dependencies.uuid]
version = "0.8.0"
features = [ "serde", "v4" ]

[dependencies.schemars]
version = "0.7.0"
features = [ "uuid" ]

[dev-dependencies]
libc = "0.2.71"
difference = "2.0.0"
