[package]
name = "dropshot"
description = "expose REST APIs from a Rust program"
version = "0.5.2-dev"
authors = ["David Pacheco <dap@oxidecomputer.com>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/oxidecomputer/dropshot/"

[dependencies]
async-trait = "0.1.24"
base64 = "0.13.0"
bytes = "1"
futures = "0.3.1"
hostname = "0.3.0"
http = "0.2.0"
indexmap = "1.0.0"
openapiv3 = "0.5.0"
paste = "1.0.0"
serde_json = "1.0.0"
serde_urlencoded = "0.7.0"
slog-async = "2.4.0"
slog-bunyan = "2.2.0"
slog-json = "2.3.0"
slog-term = "2.5.0"
toml = "0.5.6"

[dependencies.chrono]
version = "0.4.0"
features = [ "serde" ]

[dependencies.dropshot_endpoint]
version = "^0.5.2-dev"
path = "../dropshot_endpoint"

[dependencies.hyper]
version = "0.14"
features = [ "full" ]

[dependencies.serde]
version = "1.0.0"
features = [ "derive" ]

[dependencies.slog]
version = "2.5.0"
features = [ "max_level_trace", "release_max_level_debug" ]

[dependencies.tokio]
version = "1.0"
features = [ "full" ]

[dependencies.uuid]
version = "0.8.0"
features = [ "serde", "v4" ]

[dependencies.schemars]
version = "0.8.0"
features = [ "uuid" ]

[dev-dependencies]
expectorate = "1.0.2"
lazy_static = "1.4.0"
libc = "0.2.71"
subprocess = "0.2.4"
trybuild = "1.0.31"

[dev-dependencies.schemars]
version = "0.8.0"
features = [ "chrono", "uuid" ]
