#
# Configuration for GitHub-based CI, based on the stock GitHub Rust config.
#
name: Rust

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  check-style:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Report cargo version
        run: cargo --version
      - name: Report rustfmt version
        run: cargo fmt -- --version
      - name: Check style
        run: cargo fmt -- --check

  clippy-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Report cargo version
        run: cargo --version
      - name: Report Clippy version
        run: cargo clippy -- --version
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Run Clippy Lints
        run: cargo clippy --all-targets -- --deny warnings

  check-docs:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Report cargo version
        run: cargo --version
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
      - name: Check Docs
        run: cargo doc --no-deps --lib --bins --examples

  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macos-14 for M1 runners
        os: [ubuntu-22.04, windows-2022, macos-14]
        features: [all, default]
        include:
          - features: all
            feature_flags: --all-features
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Report cargo version
        run: cargo --version
      - name: Report rustc version
        run: rustc --version
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          # Matrix instances other than OS need to be added to this explicitly
          key: ${{ matrix.features }}
      - name: Build
        run: cargo build ${{ matrix.feature_flags }} --locked --all-targets --verbose
      - name: Run tests
        run: cargo test ${{ matrix.feature_flags }} --locked --all-targets --verbose
